header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.header__logo {
    grid-column: 1 / 3 ;
}
.header--femilogo1 {
}
.header--femilogo2 {
}
.header--welcome {
}
.header--pil {
}
.header--stop {
}

