body {
  background-image: url(Images/background_noborder.png);
  background-color: #e48d8d;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Architects Daughter", cursive;
}
img {
  background-color: #edcccc;
  mix-blend-mode: multiply;
}
.button.play {
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px;
  border-color: #e48d8d;
}
.footer_some_content {
  font-family: "Architects Daughter", cursive;
}
h2 {
  font-family: "Architects Daughter", cursive;
}

/* lyrics style */
.lyrics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 17em;
}

.lyrics__memoryimg {
  max-width: 14em;
  grid-column: 1;
  margin-top: 1em;
  margin-left: 1em;
}
.lyrics__coolimg {
  max-width: 10em;
  margin-top: 8em;
}

.lyrics__yeastimg {
  max-width: 24em;
  grid-column: 1/3;
  margin-top: 2em;
  margin-left: 4em;
}

/* Albums style */
.albums img {
  max-width: 3em;
}

/* Cartoons style */
.cartoons img {
  max-width: 5em;
}

/* responsive style tablet */
@media screen and (min-width: 450px) {
  .lyrics__coolimg {
    max-width: 20em;
  } 
  .albums img {
    max-width: 10em;
  }
  .cartoons img {
    max-width: 10em;
  }
}
/* responsive style desktop */
@media screen and (min-width: 700px) {
  .lyrics__coolimg {
    max-width: 25em;
  }
  .lyrics__yeastimg {
    max-width: 30em;
  }
}
@media screen and (min-width: 800px) {
  .lyrics__memoryimg {
    max-width: 20em;
  }
}
@media screen and (min-width: 1200px) {  
  .albums img {
    max-width: 15em;
  }
  .cartoons img {
    max-width: 15em;
  }
 p {
   font-size: 2em;
 }

}


