body {
  background-image: url(Images/background_template_1.png);
  background-color: #e48d8d;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Architects Daughter", cursive;
}
img {
  background-color: ##edcccc;
  mix-blend-mode: multiply;
}
.button.play {
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px;
  border-color: #e48d8d;
}
.footer_some_content {
  font-family: "Architects Daughter", cursive;
}
.h2 {
  font-family: "Architects Daughter", cursive;
}
