img {
  max-width: 100%;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.welcome__logo {
  width: 100%;
}

.femilogofuck {
  font-size: 1em;
  transform: rotate(-10deg);
  position: relative;
  left: 1em;
  top: -1em;
}

.femilogoboys {
  font-size: 1em;
  transform: rotate(25deg);
  position: relative;
  top: 0.5em;
  left: 3em;
}

.welcome__femilogo {
  width: 40%;
  position: relative;
  top: -4em;
}

.welcome__welcomepic {
  width: 100%;
}

.welcome__pil {
  width: 40%;
  transform: rotate(50deg);
  position: relative;
  top: -2em;
}

.playbutton {
  width: 30%;
  position: relative;
  float: left;
  bottom: -5em;
}

.welcome__stop {
  width: 70%;
  transform: rotate(20deg);
}

.welcome__whatspunk {
  width: 100%;
}
