img {
  max-width: 100%;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.welcome__logo {
  width: 100%;
  grid-column: 1/3;
}

.femilogofuck {
  font-size: 2em;
  transform: rotate(-10deg);
  position: relative;
  left: 0.5em;
  top: -0.5em;
  margin: 0%;
}

.femilogoboys {
  font-size: 2em;
  transform: rotate(25deg);
  position: relative;
  top: -0.5em;
  left: 3em;
  margin: 0%;
}

.welcome__femilogo {
  width: 70%;
  position: relative;
  top: -4em;
  left: 2em;
}

.welcome__welcomepic {
  width: 100%;
  position: relative;
}

.welcome__pil {
  width: 45%;
  transform: rotate(40deg);
  position: relative;
  top: -2em;
  left: 3em;
}

.playbutton {
  position: relative;
  bottom: -2em;
  left: -6em;
  top: -1em;
  border: none;
  background-color: transparent;
}

.player_icon {
}

.welcome__whatspunk {
  width: 100%;
  position: relative;
  left: 1em;
}

.welcome__stop {
  width: 70%;
  transform: rotate(20deg);
  position: relative;
  left: 2em;
}
